# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable atom-sfdc-ba': 'atom-sfdc-ba:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-sfdc-ba'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-sfdc-ba:toggle' }
      ]
    ]
  }
]
